{% extends 'base.html' %}

{% block content %}
<div style="border: 1px solid #ccc; border-radius: 10px; padding: 20px; max-width: 400px; margin: 0 auto;">

<h1>Профиль</h1>

<form method="post">
    {% csrf_token %}
<!--    после авторизации будет направляться на след. стр., еоторую мы уккажем в запросе-->
    <input type="hidden" name="next" value="{{ next }}" />
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
<div>
    <p><button type="submit">Сохранить</button> </p>
    <p><button type="submit"><a  href="{% url 'users:password_change' %}" style="text-decoration: none; color: black;">Сменить пароль</a></button></p>
</div>
</form>
</div>
{% endblock %}